<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @malist_test.content %>
</p>

<p>
  <strong>Attribut:</strong>
  <%= @malist_test.attribut %>
</p>

<p>
  <strong>Cabinet:</strong>
  <%= @malist_test.cabinet %>
</p>

<%= link_to 'Edit', edit_malist_test_path(@malist_test) %> |
<%= link_to 'Back', malist_tests_path %>
